.nav {
    background: black;

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    &__item {
        margin: 0 10px;
    }
    &__link {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    &__logo {
        width: 50px;
        display: flex;
        align-items: center;
    }

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: 40px solid black;
        border-bottom: 0 solid rgba(0, 0, 0, 0);
        border-right: 40px solid rgba(0, 0, 0, 0);
        border-left: 40px solid rgba(0, 0, 0, 0);
        left: 50%;
        margin-left: -34px;
    }
}