doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='css/style.css')
    title 
      block title
  body
    include ../modules/header
    include ../modules/nav  
    include ../modules/sidebar 
    include ../modules/main
    include ../modules/footer
      
    script(src='js/main.js')
