extends ../layout/main

block title 
  | Andrey Kuznetsov

block headerContent
  //- | Header

block navContent
  //- | Nav

//- Sidebar
block asideContent
  //- | Aside

//- Main
block articleContent
  //- | Article

