footer.footer 
  ul(class='footer__list')
    li
      a.footer__item(href='https://vk.com/kuznetsovandrey76') Vkontakte
    li
      a.footer__item(href='https://github.com/kuznetsovandrey76') GitHub

.row
  .col Andrey
  .col Kuznetsov
  