footer.footer 
  ul(class='footer__list')
    li
      a.footer__item(href='https://vk.com/kuznetsovandrey76') Vkontakte
    li
      a.footer__item(href='https://github.com/kuznetsovandrey76') GitHub


.row
  .col Andrey
  .col Kuznetsov
button.btn.btn-outline-danger Ok
  
// Button trigger modal
button.btn.btn-primary(type='button', data-toggle='modal', data-target='#exampleModal')
  | Launch demo modal
// Modal
#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Modal title
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        | Hello World
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Save changes
