footer.footer 
  ul(class='footer__list')
    li
      a(href='https://vk.com/kuznetsovandrey76' class="footer__item") Vkontakte
    li
      a(href='https://github.com/kuznetsovandrey76' class="footer__item") GitHub