main.main
   //- include ./article
   //- block mainContent

.row.justify-content-around.custom-row 
   .col-3.custom-col 1
   .col-6.custom-col 2
   .col-1.custom-col 3
.row.justify-content-center.align-items-center.custom-row 
   .col-3.custom-col 1
   .col-6.custom-col 2
   .col-1.custom-col 3

