//- nav.navigation
//-   block navContent 
//-   ul.navigation__list
//-     li.navigation__item
//-       a.navigation__link(href="./portfilio.html") Portfolio
//-     li.navigation__item
//-       a.navigation__link(href="./about.html") About
//-     li.navigation__item
//-       a.navigation__link(href='/')
//-         img.navigation__logo(src='img/javascript.png', alt='logo')
//-     li.navigation__item
//-       a.navigation__link(href="./blog.html") Blog
//-     li.navigation__item
//-       a.navigation__link(href="./contact.html") Contact

nav.navigation
  block navContent
  ul.nav.justify-content-center
    li.nav-item
      a.nav-link(href="#") Portfolio
    li.nav-item
      a.nav-link(href="#") About
    li.nav-item
      a.nav-link(href="/") 
        img(src='img/javascript.png', width="40", alt='logo')
    li.nav-item
      a.nav-link(href="#") Blog
    li.nav-item
      a.nav-link(href="#") Contact