nav.nav
  block navContent 
  ul(class="nav__list")
    li
      a.nav__item(href="./portfilio.html") Portfolio
    li
      a.nav__item(href="./about.html") About
    li
      a.nav__item(href='./portfilio.html')
        img(src='img/javascript.png', alt='logo')
    li
      a.nav__item(href="./blog.html") Blog
    li
      a.nav__item(href="./contact.html") Contact