nav.navigation
  block navContent 
  ul.navigation__list
    li.navigation__item
      a.navigation__link(href="./portfilio.html") Portfolio
    li.navigation__item
      a.navigation__link(href="./about.html") About
    li.navigation__item
      a.navigation__link(href='/')
        img.navigation__logo(src='img/javascript.png', alt='logo')
    li.navigation__item
      a.navigation__link(href="./blog.html") Blog
    li.navigation__item
      a.navigation__link(href="./contact.html") Contact