nav.navigation
  block navContent
  ul.nav.justify-content-center
    li.nav-item
      a.nav-link(href="#") Portfolio
    li.nav-item
      a.nav-link(href="#") About
    li.nav-item
      a.nav-link(href="/") 
        img(src='img/javascript.png', width="40", alt='logo')
    li.nav-item
      a.nav-link(href="#") Blog
    li.nav-item
      a.nav-link(href="#") Contact