nav.nav
  block navContent 
  ul(class="nav__list")
    li.nav__item
      a.nav__link(href="./portfilio.html") Portfolio
    li.nav__item
      a.nav__link(href="./about.html") About
    li.nav__item
      a.nav__link(href='/')
        img.nav__logo(src='img/javascript.png', alt='logo')
    li.nav__item
      a.nav__link(href="./blog.html") Blog
    li.nav__item
      a.nav__link(href="./contact.html") Contact